
.main {
    max-width: 400px; /* Prilagodite širinu prema potrebi */
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px; /* Dodato zaobljenje ivica */
  }
  
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 42%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  h1{
    text-align: center;
  }
  