<h1>Create Border Cross</h1>
<div class="main">
    <input placeholder="Name" [(ngModel)]="Name">
    <input placeholder="Username" [(ngModel)]="Username">
    <input placeholder="Password" [(ngModel)]="Password">
    <input placeholder="Location" [(ngModel)]="Location">
    <input placeholder="Country" [(ngModel)]="Country">
    <input placeholder="Type" [(ngModel)]="Type">
    <input placeholder="Work-Hour" [(ngModel)]="WorkHour">
    <input placeholder="Transport Connections" [(ngModel)]="TransportConnections">
    <input placeholder="Capacity" [(ngModel)]="Capacity">
    <input placeholder="Email" type="email" [(ngModel)]="Email">
    <input placeholder="Phone Number" [(ngModel)]="PhoneNumber">
    <input placeholder="Description" [(ngModel)]="Description">
    <button (click)="create()">Create</button>
</div>
